{% extends "rango/base.html" %}
{% load staticfiles %}

{% block title %}About{% endblock %}

{% block header %}
  <div class="jumbotron">
    <h1>Rango</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ut, ullam commodi quam dolore, totam est pariatur ab corrupti distinctio esse similique illum optio magnam delectus sed autem. Iste quam doloremque eos, ex expedita quod repellendus atque rerum maiores neque.</p>
    <img src="{{ MEDIA_URL }}cat.png" alt="Cat">
  </div>
{% endblock %}
