{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}Rango{% endblock %}</title>

  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  <nav class="navbar navbar-light navbar-static-top">
    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" area-expanded="false" aria-controls="navbar">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'rango:index' %}">Home</a></li>
          <li><a href="{% url 'rango:categories' %}">Categories</a></li>
          <li><a href="{% url 'rango:about' %}">About</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li><a>{{ user.username|capfirst }}</a></li>
            <li><a href="{% url 'accounts:logout' %}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Log out</a></li>
          {% else %}
            <li><a href="{% url 'accounts:register' %}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Sign Up</a></li>
            <li><a href="{% url 'accounts:login' %}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Log in</a></li>
          {% endif %}
        </ul>
      </div>

    </div>
  </nav>

  <div class="container">
    <div class="page-header">
      {% block header %}{% endblock %}
    </div>
    <div>
      {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>
