{% extends "rango/base.html" %}

{% block title %}Categories{% endblock %}

{% block header %}
  <h1>List categories</h1>
{% endblock %}

{% block content %}
  <ul class="list-group">
    {% for category in categories %}
      <li class="list-group-item">
        <a href="{% url 'rango:category' category.slug %}">{{ category.name }} <span class="badge">{{ category.views }}</span></a>
        {% if category.owner == user %}
          <a href="{% url 'rango:edit_category' category.slug %}" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
          <a href="{% url 'rango:delete_category' category.slug %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
        {% endif %}
      </li>
    {% empty %}
      <li class="list-group-item">There are no categories present</li>
    {% endfor %}
  </ul>

  {% if user.is_authenticated %}
    <a href="{% url 'rango:add_category' %}" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add new category</a>
  {% endif %}

{% endblock %}
