{% extends "rango/base.html" %}
{% load bootstrap3 %}

{% block title %}Edit Category{% endblock %}

{% block content %}
  <div class="panel panel-warning">
    <div class="panel-heading">Edit Category</div>
  </div>

	<form action="" method="post" class="form">
		{% csrf_token %}
		{% bootstrap_form form %}
		<input type="submit" value="Update" class="btn btn-warning">
		<a href="{% url 'rango:categories' %}" class="btn btn-default">Cancel</a>
	</form>
{% endblock %}
