{% extends 'rango/base.html' %}

{% block title %}Delete{% endblock %}

{% block content %}
  <div class="panel panel-danger">
    <div class="panel-heading">Delete Category</div>
    <div class="panel-body">{{ category }}</div>
  </div>

  <form action="" method="post" class="form">
    {% csrf_token %}
    <input type="submit" value="Delete" class="btn btn-danger">
    <a href="{% url 'rango:categories' %}" class="btn btn-default">Cancel</a>
  </form>
{% endblock %}
