{% extends "rango/base.html" %}

{% block title %}{{ category.name }}{% endblock %}

{% block header %}
  <h2>{{ category.name|upper }}</h2>
{% endblock %}

{% block content %}
  <ul class="list-group">
    {% for page in category.page_set.all %}
      <li class="list-group-item">
        <a href="{{ page.url }}" target="_blank">{{ page.title }}</a>
        {% if page.owner == user %}
          <a href="{% url 'rango:edit_page' page.slug %}" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></a>
          <a href="{% url 'rango:delete_page' page.slug %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></a>
        {% endif %}
      </li>
    {% empty %}
      <li class="list-group-item list-group-item-danger">No pages currently in category</li>
    {% endfor %}
  </ul>

  {% if user.is_authenticated %}
    <a href="{% url 'rango:add_page' category.slug %}" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add new page</a>
  {% endif %}
{% endblock %}
