{% extends "rango/base.html" %}
{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block header %}
  <div class="jumbotron">
    <h1 class="display-3">Rango</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis esse ratione facere eius temporibus, perferendis enim in, atque obcaecati est qui, magnam aliquid! Aspernatur, at. Alias expedita quidem voluptatibus, saepe aut hic aspernatur atque. Id ea cum quasi odio quaerat, dolores vero deleniti, obcaecati temporibus recusandae eveniet consectetur libero nihil.</p>
    <p><a href="{% url 'accounts:register' %}" class="btn btn-success btn-lg">Register</a></p>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h2>Subheading</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga officia cumque rerum exercitationem dignissimos, omnis culpa soluta suscipit sed, animi!</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h2>Subheading</h2>
      <p>Quia autem aperiam quam molestiae odit rerum quis perferendis aut in saepe, doloribus ullam molestias! Temporibus pariatur magni, odit velit.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h2>Subheading</h2>
      <p>Et distinctio esse ratione aliquam, blanditiis officiis quam nobis rem! Saepe earum consequatur quae quidem iusto voluptatem quod deleniti praesentium!</p>
    </div>
  </div>
{% endblock %}
