{% extends "rango/base.html" %}
{% load bootstrap3 %}

{% block title %}Add Page{% endblock %}

{% block content %}
	<div class="panel panel-success">
		<div class="panel-heading">Add new page</div>
	</div>

	<form action="" method="post" class="form">
		{% csrf_token %}
		{% bootstrap_form form %}
		<input type="submit" value="Submit" class="btn btn-primary">
		<a href="{% url 'rango:category' category.slug %}" class="btn btn-default">Cancel</a>
	</form>
{% endblock %}
