{% extends "rango/base.html" %}
{% load bootstrap3 %}

{% block title %}Edit page{% endblock %}

{% block content %}
  <div class="panel panel-warning">
    <div class="panel-heading">Edit Page</div>
  </div>

  <form action="" method="post" class="form">
  	{% csrf_token %}
  	{% bootstrap_form form %}
  	<input type="submit" value="Update" class="btn btn-warning">
  	<a href="{% url 'rango:category' page.category.slug %}" class="btn btn-default">Cancel</a>
  </form>
{% endblock %}
