{% extends 'rango/base.html' %}
{% load bootstrap3 %}

{% block title %}Log in{% endblock %}

{% block header %}
  <h2>Create new account</h2>
{% endblock %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="Submit" class="btn btn-primary">
    <a href="{% url 'rango:index' %}" class="btn btn-default">Cancel</a>
  </form>
{% endblock %}
